
.sb {
  position: relative;
  left: 350px;
  bottom: 200px;
}

.logo {
  position: relative;
  left: 200px;
  top: 100px;
  height: 206.6px;
  width: 426.6px;
  }

.sf {
  position: relative;
  left: 200px;
  bottom: 200px;
}
