body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.buttons {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.searchbar {
  display:block;
  text-align: center;
}
.pic {
  text-align: center;
  height: 500px;
  padding: 0;
  margin: 0;
